@charset "utf-8";

body {
	line-height: 160%;
	font-size: 12px;
	color: #555;
	text-align: center;
	background-color: #F9F9F9
}

body,
input,
select,
button {
	font-family: verdana, sans-serif
}

h1,
h2,
h3,
h4,
h5,
h6,
select,
input,
textarea,
button {
	font-size: 100%
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
form,
p,
dl,
dt,
dd,
table,
th,
td,
img,
blockquote {
	margin: 0;
	padding: 0;
	border: 0
}

hr {
	margin: 0;
	padding: 0
}

input,
button,
textarea,
img {
	line-height: normal
}

abbr,
acronym,
address,
cite,
q,
em,
code,
var,
dfn,
ins {
	font-style: normal;
	text-decoration: none;
	border: 0
}

q:before,
q:after {
	content: ""
}

ul,
ol {
	list-style: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

select,
input,
label,
button,
button img,
img {
	vertical-align: middle
}

a {
    color: #039;
    text-decoration: none;
}


header, footer, section, aside, article, nav, hgroup, figure, figcaption, details, summary {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
}