body {
	background: #f7f7f7;
}

.list {
	margin: 44px auto;
}

.list li {
	border-bottom: 1px solid #ddd;
	padding: 10px;
	box-sizing: border-box;
	overflow: hidden;
}

.list li .left-pic {
/* 	width: 30%;
	float: left; */
}

.list li .left-pic img {
	width: 100%;
}

.list li .right-info {
/* 	width: 70%;
	float: left; */
	padding: 10px;
	box-sizing: border-box;
}

.list li .right-info .right-title {
	display: block;
}

.list li .right-info .marketPrice {
	display: block;
	font-size: 14px;
	text-decoration: line-through;
}

.list li .right-info .vipPrice {
	display: block;
	font-size: 18px;
	color: red;
}


